.banner {
    background: url(../img/banner.jpeg) 27% center no-repeat;
    min-width: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    height: 515px;
}